html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

header {
  height: 10%;
}

header h1 {
  margin-top: 1.5%;
  white-space: nowrap;
}

#clearSketch {
  border: none;
  padding: 1% 2%;
  margin: 1%;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#etch-a-sketch {
  height: 800px;
  width: 800px;
  margin: 0 auto 20% auto;
  line-height: 0;
}

.cell {
  display: inline-block;
  background: #f2f2f2;
}

.cell.active {
  background: #333;
}

